<!doctype html>
<html>
  
  <head>
    <title>Entrance</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/bootstrap-responsive.css">
    <link rel="stylesheet" href="css/style.css">
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
  </head>
  
  <body>
    <div class="navbar navbar-fixed-top"></div>
    <div class="container">
      <div class="hero-unit hidden-phone">
        <h1>Welcome to EvsO</h1>
        <p>Landing page..</p>
        <p></p>
      </div>
      <a class="btn btn-large btn-primary btn-block visible-phone" href="#"><span class="btn-label">Sign Up Today!</span></a>
      <div class="main-features row-fluid">
        <div class="span6">
          <div class="well well-small">
            <h3>To the website</h3>
            <p>Website from here</p>
            <a class="btn btn-primary" href="#"><span class="btn-label">To the website</span></a> 
          </div>
        </div>
        <div class="span6">
          <div class="well well-small">
            <h3>Register</h3>
            <p>Registration from here</p>
            <a class="btn btn-success" href="#"><span class="btn-label">Register</span></a> 
          </div>
        </div>
      </div>
    </div>
  </body>

</html>